@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@300;400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Red Hat Mono', monospace;
  font-size: 14px;
  line-height: 18px;
}

:root {
  --bg-grey: rgb(250,250,250);
  --border-grey: rgb(219,219,219);
  --text-light-grey: rgb(142,142,142);
  --text-dark-grey: rgb(38,38,38);
  --accent-purple: rgb(184, 30, 215); 
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: var(--bg-grey);
  display: flex;
  flex-direction: column;
}

.logo-wrapper {
  display: flex;
  margin: 48px 0 32px 0;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.logo {
  font-size: 32px;
  color: var(--accent-purple);
}

h1 {
  text-align: center;
  font-weight: 700;
  font-size: x-large;
  text-transform: uppercase;
}

.input-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 16px;
}

.input-wrapper > input, .btn {
  padding: 8px;
  border: var(--border-grey) 1px solid;
  border-radius: 4px;
}

input:focus {
  outline: var(--accent-purple) 1px solid;
}

.btn {
  min-width: 100px;
  background-color: var(--accent-purple);
  border: none;
  color: white;
  cursor: pointer;
}

.occupancy {
  margin: 16px 0;
  text-align: center;
  align-self: center;
  table-layout: fixed;
  width: 75%;
  word-break: break-all;
  border-collapse: collapse;
}

thead {
  background-color: var(--text-dark-grey);
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
}

tbody > tr {
  color: var(--text-dark-grey);
}

td, th {
  padding: 8px;
  border: 1px var(--border-grey) solid;
}

button.remove {
  padding: 4px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: 0.1s;
  color: var(--text-dark-grey);
}

button.remove:hover {
  transform: scale(1.1);
  color: var(--accent-purple);
}

button.remove:focus {
  outline: none;
}